/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.mainTitle {
  display: flex;
  justify-content: center;
}

.mainLabel {
  margin-bottom: 5px;
}

.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background: rgba(79, 75, 75, 0.637);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.joinBtn {
  margin-left: auto;
}

.createInfo {
  margin: auto;
}